# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.jpeg
*.jpg
out
gen
/__pycache__
/.DS_Store
.DS_Store

auth/__pycache__/
models/__pycache__/

/static/pic

config.py
utli/__pycache__/
